@charset "utf-8";
/*
 全站CSS重设内容
 Time:2012-06-04
 By demon
*/
html{-webkit-text-size-adjust: none;}
body, div, dl, dt, dd, ul, ol, li, p, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, input, textarea, img, blockquote, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5 "\5B8B\4F53",tahoma,arial ;}
body{ color:#333333; background-color:#fff; }
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
ul, ol { list-style:none; }
select, input, img { vertical-align:middle; }
a:link, a:visited { text-decoration:none; color:#333333; }
a:hover{ color:#e91748; text-decoration:underline;}/*4392FB*/
fieldset, img { border:0 none;   }
em{ font-style:normal;}
.clearfix:after { content: "\20"; display: block; height: 0; clear: both; visibility:hidden; }
.clearfix { display: inline-block; } /* Hides from IE-mac\*/
* html .clearfix { height: 1%; }
.clearfix { display: block; } /* End hide from IE-mac*/
.layout:after{content:'\20';display:block;height:0;clear:both;}
.layout{*zoom:1;}

